<hr />
<footer itemscope itemtype="https://schema.org/WPFooter">
    <p>
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            Created by: <span itemprop="name">SkittishSloth</span>
        </span>
        &copy; <%= date(new Date(), 'YYYY') %>
    </p>
</footer>