*
    box-sizing: border-box

body
    font-family: 'Fauna One', serif
    background-color: #fff /* White background */
    color: #000 /* Black text */
    margin: 0
    margin-left: 0em
    margin-right: 0em
    padding: 00px
    padding-left: 0px
    padding-right: 0px

header.site
    padding: 10px 0px
    text-align: center

    h1
        font-size: 4em
        font-weight: 600
        letter-spacing: 1px
        text-shadow: 1px 1px 2px rgba(5, 0, 0, 0.3)

h1, h2, h3, h4, h5, h6
    color: #900
    font-family: 'Cinzel', serif

a, a:visited
    color: #900

nav.topnav
    overflow: hidden
    width: 100%
    // text-align: right

    // div.right
    //     float: left
    
    div.float
        float: left
        display: block
        text-align: center
        padding: 10px 16px
        padding-bottom: 0px

div.main-body
    display: flex

.content
    padding: 10px
    flex: 6

.left-sidebar
    padding: 10px
    flex: 1
    background-color: #000

.right-sidebar
    padding: 10px
    flex: 1
    background-color: #000



footer
    text-align: center

.card 
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2)
    transition: 0.3

.card:hover
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)

.card .container
    padding: 2px 16px

dl
    margin: 0
    padding: 0

dt
    font-size: 1.25em
    margin: 0.5em 0 0 0
    padding: 0
dd
    display: list-item
    list-style: none
    margin: 0 0 0 2em
    padding: 0.5em

article
    max-inline-size: 80ch
    header
        h1
            text-align: center
        div.metadata
            text-align: right
            font-size: 0.8em
            font-style: italic
    section.body

        blockquote
            background-color: #EEE
            padding: 2px 16px
            padding-bottom: 20px

            footer
                text-align: left 
                font-style: italic
                cite
                    padding-left: 10px