*
    box-sizing: border-box

body
    font-family: 'Fauna One', serif
    background-color: #fff /* White background */
    color: #000 /* Black text */
    margin: 0
    margin-left: 4em
    margin-right: 4em
    padding: 20px
    padding-left: 40px
    padding-right: 40px

header.site
    padding: 10px 0px
    text-align: center

    h1
        font-size: 4em
        font-weight: 600
        letter-spacing: 1px
        text-shadow: 1px 1px 2px rgba(5, 0, 0, 0.3)

h1, h2, h3, h4, h5, h6
    color: #900
    font-family: 'Cinzel', serif

a, a:visited
    color: #900

nav.topnav
    overflow: hidden
    width: 100%
    text-align: right

    div.right
        float: right
    
    div.float
        float: left
        display: block
        text-align: center
        padding: 10px 16px
        padding-bottom: 0px

div.main-body
    display: flex

.content
    padding: 10px
    flex: 6

.left-sidebar
    padding: 10px
    flex: 1

.right-sidebar
    padding: 10px
    flex: 1

blockquote
    footer
        text-align: left 

        cite
            padding-left: 10px

footer
    text-align: center