body {
  font-size: 18px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  line-height: 1.45;
  color: #212121;
}
body h1 {
  font-size: 6em;
}
body h2 {
  font-size: 4em;
}
body h3 {
  font-size: 3em;
}
body h4 {
  font-size: 2em;
}
body h5 {
  font-size: 1em;
}
body h6,
body p {
  font-size: 1em;
}
