{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{ if (isset . "taxonomy") }}
  {{ if eq .taxonomy "tags" }}
    {{ range (.page.GetTerms .taxonomy) }}
      <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    {{ end }}
  {{ else if eq .taxonomy "design-principles" }}
    {{ range (.page.GetTerms .taxonomy) }}
      <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    {{ end }}
  {{ end }}
{{ end }}